<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dentify-X</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
                <div class="sidebar-sticky">
                    <div class="user-profile text-center py-4">
                        <img src="images/doctor.jpg" alt="Dr. Adam Ali" class="img-fluid rounded-circle profile-img">
                        <h4>Welcome Dr/ </h4>
                        <h4 id="welcome-message"></h4>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-user"></i>
                                User Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-cog"></i>
                                Settings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-sign-out-alt"></i>
                                Sign Out
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <a href="#"><img src="images/back.png" alt="back" class="img-fluid icon" style="height: auto; width: auto;"></a>
                    <h1 class="h2" style="text-align: center; margin-right: 550px;">Dentify-X</h1>
                </div>

                <div class="card text-center mx-auto" style="width: 50%; margin-top: 100px;">
                    <form id="login-form">
                        <div class="card-body">
                            <img src="images/newpatient.png" alt="newpatient" class="img-fluid icon">
                            <h5 class="card-title mt-3">Add Patient</h5>
                            <input type="text" class="form-control mt-3" placeholder="Enter Patient ID" id="PatientID">
                            <input type="text" class="form-control mt-3" placeholder="Enter Passcode" id="Passcode">
                            <button type="submit" class="btn">Add Patient</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <p id="errmessage" style="color:red;"></p>
    <script>
         document.addEventListener('DOMContentLoaded', () => {

            const urlParam = new URLSearchParams(window.location.search);
            const doctorname = urlParam.get('name');

            if (doctorname) {
                const welcomeElement = document.getElementById('welcome-message');
                welcomeElement.textContent = decodeURIComponent(doctorname);
            }

            const form = document.getElementById('login-form');
    
            form.addEventListener('submit', (e) => {
                e.preventDefault();
                
                const patientid = parseInt(document.getElementById('PatientID').value, 10);
                const passcode = document.getElementById('Passcode').value;

                const urlParams = new URLSearchParams(window.location.search);
                const doctorid = parseInt(urlParams.get('sessionid'), 10);
    
                const loginUrl = "http://localhost:8080/addpatient";
    
                fetch(loginUrl, {
                    method: "POST",
                    headers: {
                        "Accept": "application/json, text/plain, */*",
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        patientid: patientid,
                        passcode: passcode,
                        doctorid: doctorid,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.error) {
                        // 3shan el alert dy teshta8al shelt function el login handler,
                        // w nadaht 3la function el login direct fel endpoint 3shan el response feeh kaza "error"
                        // fa howa 8aleban mesh by3raf yezher anhy wahda.
                        const errormessage = document.getElementById('errmessage');
                        errormessage.textContent = decodeURIComponent(data.error);
                        // alert("Error: " + data.error);
                    } else if (data.message) {
                        const errormessage = document.getElementById('errmessage');
                        errormessage.textContent = decodeURIComponent(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
