<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/Users/mamdouhhazem/Desktop/Graduaiton_Project/Project_II/Dentify-X/static/admin.css">
<title>Dentify-X</title>
</head>

<body>
<div id="container">
    <div id="left-div">
        <img id="profile-pic" src="/Users/mamdouhhazem/Desktop/Graduaiton_Project/Project_II/Dentify-X/templates/Image 07-05-2024 at 12.17 AM.jpg" alt="Profile Picture">
        <div id="admin-greeting">Hi Admin</div>
        <button id="logout-btn">Log Out</button>
    </div>
    <div id="right-div">
        <div class="button-wrapper">
            <img class="button-image" src="/Users/mamdouhhazem/Desktop/Graduaiton_Project/Project_II/Dentify-X/templates/Image 06-05-2024 at 11.14 PM (1).jpg" alt="Button Image 1" style="width: 200px;height: 200px;">
            <form id="view-requests-form" action="http://localhost:8080/Requests" method="GET">
                <button class="action-btn" type="submit">View Doctor Requests</button>
            </form>
        </div>
        <div class="button-wrapper">
            <img class="button-image" src="/Users/mamdouhhazem/Desktop/Graduaiton_Project/Project_II/Dentify-X/templates/Image 06-05-2024 at 11.14 PM.jpg" alt="Button Image 2"  style="width: 200px;height: 200px;">
            <form id="view-requests-form" action="http://localhost:8080/doctors" method="GET">
                <button class="action-btn" type="submit">View Doctors</button>
            </form>
        </div>
        <div class="button-wrapper">
                <img class="button-image" src="/Users/mamdouhhazem/Desktop/Graduaiton_Project/Project_II/Dentify-X/templates/Image 06-05-2024 at 11.15 PM.jpg" alt="View Requests Image"  style="width: 200px;height: 200px;">
            <form id="view-requests-form" action="http://localhost:8080/patients" method="GET">
                <button class="action-btn" type="submit">View Patients</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
