<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>
            You Have successfuluy signed up, please wait for our admins to verify you.
        </h3>
        <h2>
           an email has been sent to you.
        </h2>
        <h1>
            click the button below to login.
        </h1>
        <form action="http://localhost:8000/doctorlogin.html">
            <button type="submit" class="btn">login</button>
        </form>
    </div>
</body>
</html>